.container {
  display:flex;
  flex-wrap: wrap;
}

/* Header **********/
.header {
  padding-top: 0.8em;
  background-color: #F7f7f7;
  width: 100%;
  order: 0;
  transition: min-height 0.3s;
  height: 100px;
}

.header_top{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header_logo {
  width: 75px;
  height: 75px;
}

.header_name span {
  color: #686969;
  text-transform: uppercase;
}

/*  Nav *******************/
.nav {
  background-color: #f7f7f7;
  width: 100%;
  order: 1;
}

.nav_list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.nav a:hover {
  text-decoration: underline;
  color: #312121;
}

.nav_item a {
  color: #616161;
  text-transform: uppercase;
}

/* Main **********/
main {
  width: 100%;
  order: 2;
}

/*  Portofolio Description *******************/
.image_description {
  max-width: 100%;
}

/*  Portfolio Work *******************/
.wrapper {
  padding: 0 2em;
}

h2, h3, h4 {
  color: #616161;
  margin: 1.5em 0 0 0;
}

.portfolio_work {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20%;
  justify-content: space-between;
}

.portfolio_item {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
}

.portfolio_item:hover {
  border: 1px solid #777;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
}

.portfolio_item a {
  padding: 0;
}

.portfolio_item img {
  max-width: 100%;
  border-bottom: 1px solid #ccc;
}

.background {
  background-color: #719992;
}

.work_title {
  text-align: center;
  background-color: #deefec;
  padding: 0.5em 0 1.5em 0;
}

/*  Footer *******************/
.footer {
  width: 100%;
  order: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em 0 4em 0;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  background-color: #719992;
}

.fa {
  padding: 0.5em;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background-color: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.copyright {
  text-align: center;
}

.link-email {
  font-size: 12px;
}

/*  *******************/
@media only screen and (max-width: 350px) {
body {
  font-size: 12;
}

.header_name {
  font-size: 0.7em;
}

.header_logo {
  width: 50px;
  height: auto;
   }

.work_link {
  font-size: 7px;
}
}

@media screen and (max-width:600px) {
  /*  Nav *******************/
  .nav_list {
    flex-direction: column;
  }

  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    top: 100px;
    /* This trasform moves the idnav off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* animate the idnav. */
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  }

  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav_item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    padding: 1em;
  }

  .header_menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }

  .header_menu svg {
    width: 40px;
    fill: #686969;
  }

/*  Protfolio Work *******************/
  .wrapper_work {
    width: 100%;
    margin: 1.5em;
  }

  .wrapper h2 {
    margin: 1.5em 0 0 1em;
  }

  .work_link {
    font-size: 12px;
  }
}

@media screen and (min-width:601px) {
  .header {
    width: 50%;
    order:0;
  }

  .nav {
    width: 50%;
    order:1;
  }

  .nav_list {
    justify-content: flex-end;
  }

/*  Portfolio Work*******************/
  .wrapper_work {
     width: 48%;
     margin: 1em 0;
   }

@media screen and (min-width:750px) {
  .wrapper_work {
    width: 30%;
    margin: 0.5em 0;
  }

  .work_title a {
    font-size: 12px;
  }

}

@media screen and (min-width:1200px) {
  main, .header, .nav, .footer{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    font-size: 16px;
  }

  .work_title a {
    font-size: 16px;
  }

  .header {
    border-bottom: 1px solid #E0E0E0;
  }

  .header_name {
    margin-left: auto;
    text-align: right;
  }

  .nav_list {
    justify-content: center;
    padding:0.3em 0;
  }

  a#menu.header_menu {
    padding: 0;
  }
  .wrapper {
    padding: 0;
  }

}

@media screen and (min-width:1900px) {
  main, .header, .nav, .footer{
    width: 1900px;
    margin-left: auto;
    margin-right: auto;
  }

}
