body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
}

/* Common *******/

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
}

a {
  text-decoration: none;
}

/* Header *******/
.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
.header_top{
  display:flex;
}

.header_logo {
  width: 75px;
  height: 75px;
}

.header_name {
  margin: 0.5em 0.25em;
}

.header_name span {
  font-style: italic;
}

h1 {
  font-weight: 600;
}

a {
  color: black;

}

/* Nav *******/
.nav {

}
.nav_list {
  display:flex;
}
.nav_item {
  text-transform: uppercase;
}

nav a {
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}

/* Portofolio Top *******/

.image_description {
  max-width: 100%;
}

/* Portofolio Work *******/


.portfolio_work {
}

.portfolio_item {
  margin: 1em;

}

.wrapper_work {
}

.portfolio_item img {
  max-width: 100%;
}
